
.bg-cover {
    background-image: url("/../resources/static/img/38208.jpg");
    height: 100%;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.cover {
    height: 16em;
}