<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://kit.fontawesome.com/e0eb2ab6e1.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="bg-about">
<nav th:replace=" partials/nav :: nav"/>



    <div class="container">
        <div>
            <!--        <h1 class="gallery-heading">Curated Ink</h1>-->
            <h3 class="gallery-heading">Meet The Curated Team</h3>
        </div>

        <div class="container col">
            <div class="row justify-content-between">
                <div class="shadow-lg p-3 mb-5 bg-white rounded card-m" style="width: 22rem;">
                    <div class="card-body">
                        <img src="/../img/sabrina.jpg" alt="" class="img-thumbnail thumbnail mx-auto d-block">
                        <p class="sub-text mt-3">Web Developer</p>
                        <p class="about-text">Sabrina Ayres</p>
                    </div>
                    <div class="row justify-content-around">
                        <a href="https://github.com/Sabrina-Ayres"> <i class="fab fa-github fa-3x"></i></a>
                        <a href="https://www.linkedin.com/in/sabrinaayres/"> <i class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

                <div class="shadow-lg p-3 mb-5 bg-white rounded card-m" style="width: 22rem;">
                    <div class="card-body">
                        <img src="/../img/corey.jpg" alt="" class="img-thumbnail thumbnail mx-auto d-block">
                        <p class="sub-text mt-4">Web Developer</p>
                        <p class="about-text">Corey Koontz</p>
                    </div>
                    <div class="row justify-content-around">
                        <a href="https://github.com/CoreyKoontz"> <i class="fab fa-github fa-3x"></i></a>
                        <a href="https://www.linkedin.com/in/corey-koontz-445603211/"> <i class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="shadow-lg p-3 mb-5 bg-white rounded card-m" style="width: 22rem;">
                    <div class="card-body">
                        <img src="/../img/javier.png" alt="" class="img-thumbnail thumbnail mx-auto d-block">
                        <p class="sub-text mt-3">Web Developer</p>
                        <p class="about-text">Javier Estrada</p>
                    </div>
                    <div class="row justify-content-around">
                        <a href="https://github.com/EstradaJavier"> <i class="fab fa-github fa-3x"></i></a>
                        <a href="https://www.linkedin.com/in/javier-estrada-9a67b19b/"> <i class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

                <div class="shadow-lg p-3 mb-5 bg-white rounded card-m" style="width: 22rem;">
                    <div class="card-body">
                        <img src="/../img/michaelbaker.jpg" alt="" class="img-thumbnail thumbnail mx-auto d-block">
                        <p class="sub-text mt-4">Web Developer</p>
                        <p class="about-text">Michael Baker</p>
                    </div>
                    <div class="row justify-content-around">
                        <a href="https://github.com/michaelbaker34"> <i class="fab fa-github fa-3x"></i></a>
                        <a href="https://www.linkedin.com/in/michaelbaker34/"> <i class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--<div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
<!--<div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
<footer th:include="partials/foot :: foot"/>
</body>
</html>