<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign up</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<nav th:replace=" partials/nav :: nav"/>

<div class="">
    <div class="container">

        <div>
            <h1 class="">Upload Your Work</h1>
        </div>

        <div class="container mb-4">
            <form th:action="@{/artist-upload}" method="POST" th:object="${image}">

                <label for="imageUrl">Image URL</label>
                <input id="imageUrl" th:field="*{imageUrl}" class="form-control mb-4" placeholder="Image URL"/>

                <label for="comment">Comment</label>
                <input id="comment" th:field="*{comment}" class="form-control mb-4"
                       placeholder="Wanna leave a comment about the piece?"/>

                <label for="studioName">Studio Name</label>
                <input id="studioName" th:field="*{studioName}" class="form-control mb-4" placeholder="Studio Name"/>

                <label>What style is this work?</label>
                <div th:replace=" partials/style-list :: style-list"/>

                <input class="btn btn-block" value="Add new work" type="submit"/>
            </form>
        </div>

    </div>
</div>

<footer th:replace="partials/foot :: foot"/>

</body>
</html>