<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign up</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>

<nav th:replace=" partials/can-nav :: can-nav"/>

<div class="bg-about">
    <div class="container">

        <div>
            <h1 class="gallery-heading">Upload Your Work</h1>
        </div>

        <div class="container mb-4">
            <form th:action="@{/canvas-upload}" class="form-padding" method="POST" th:object="${image}">

<!--                        preview uploaded image  -->
                <label for="imagePreview"></label>
                <img id="imagePreview" src="/../img/waiting.jpg" alt="image uploaded">
                <br>

                <label for="uploadImage"></label>
                <button class="form-control mb-4" id="uploadImage" name="uploadImage" type="button">Upload Image</button>
                <input id="filestackImageUrl" name="filestackImageUrl" value="replace" th:field="*{imageUrl}" type="hidden">

                <label for="comment">Comment</label>
                <input id="comment" th:field="*{comment}" class="background-form"
                       placeholder="Wanna leave a comment about the piece?"/>

                <label for="creditedArtist">Artist Name</label>
                <input id="creditedArtist" th:field="*{creditedArtist}" class="background-form"
                       placeholder="Artist Name"/>

                <label for="studioName">Studio Name</label>
                <input id="studioName" th:field="*{studioName}" class="background-form" placeholder="Studio Name"/>

                <label class="mt-4">What style is this work?</label>
                <div th:replace=" partials/style-list :: style-list"/>

                <div class="d-flex justify-content-around mt-4">
                    <button class="button type1" value="Add new work" type="submit">Add new work</button>
                </div>
            </form>
        </div>

    </div>
</div>

<footer th:replace="partials/foot :: foot"/>
<script type="text/javascript" src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    const options = {
        onUploadDone:
            function (result) {
                $("#filestackImageUrl").val(result.filesUploaded[0].url);
            }
    }
    let filestackApiKey = [[${filestackApiKey}]]
    const client = filestack.init(filestackApiKey);

    $("#uploadImage").click(function () {
        client.picker(options).open()
    });
</script>

</body>
</html>