<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gallery</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<nav th:replace=" partials/nav :: nav"/>


<div class="">
    <div class="container">

        <div>
            <h1 class="mb-4">World Gallery</h1>
        </div>

        <div class="container">
            <div class="row justify-space-between">
                <div class="col-12 col-md-6" th:each="image : ${images}">
                    <div class="card-body">
                        <img th:text="${image.imageUrl}"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer th:replace="partials/foot :: foot"/>

</body>
</html>