<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">


</head>
<body>

<div class="bg-cover">
    <div class="container">

        <h1 class="landing-brand">Curated Ink</h1>

        <div class="col">

            <div class="row m-4 d-flex justify-content-center">
                <a th:href="@{/login}" class="button-landing type2 m-4">Login</a>
                <a th:href="@{/sign-up}" class="button-landing type2 m-4">Sign Up</a>
            </div>

            <a th:href="@{/gallery}" class="button-landing type2 m-4 d-flex justify-content-center">View The Gallery</a>

        </div>
    </div>
</div>


<footer th:include="partials/foot :: foot"/>

</body>
</html>