<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">


</head>
<body>

<div class="">
    <div class="container">

        <div class="container">
            <h1 class="mb-4">Curated Ink</h1>
        </div>

        <a th:href="@{/login}" class="btn btn-block">Login</a>

        <a th:href="@{/sign-up}" class="btn btn-block">Sign Up</a>

        <a th:href="@{/gallery}" class="btn btn-block">View The Gallery</a>

    </div>
</div>


<footer th:include="partials/foot :: foot"/>

</body>
</html>