<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>

    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div class="">
    <div class="container">

        <div>
            <h1 class="">Login....</h1>
        </div>

        <div class="mb-2">
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
        </div>

        <div class="container mb-4">

            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <input id="email" name="username" class="form-control" placeholder="Username" type="text"/>
                </div>
                <div>
                    <input id="password" name="password" class="form-control" placeholder="Password" type="password"/>
                </div>
                <div>
                    <input class="btn btn-block" type="submit" value="Login"/>
                </div>
            </form>

        </div>
    </div>
</div>

<footer th:include="partials/foot :: foot"/>

</body>
</html>