<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Send Email Page</title>

    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div class="email-class">
    <div class="container">

        <div>
            <h2 class="">Send Email</h2>
        </div>


        <div class="container mb-4">

            <form th:action="@{/send-email}" method="post">

<!--                <label for=""></label>-->
                    <input id="text" type="text" size="19" name="Contact-Name">

                    <input id="email"  type="email" name="Contact-Email">

                    <textarea id="message" name="Contact-Message" rows="6″ cols="20″></textarea>

                    <button type="submit" value="Submit">Send</button>

            </form>
        </div>
    </div>
</div>


<footer th:include="partials/foot :: foot"/>

</body>
</html>