<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Send Email Page</title>

    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div class="email-class">
    <div class="container">

        <div>
            <h2 class="">Send Email</h2>
        </div>

        <div class="container mb-4">
            <form th:action="@{/send-email}" method="POST">

                    <input name="ownerUsername" type="hidden" th:value="*{profileOwner.getUsername()}">

                    <label for="emailSubject">Subject:</label>
                    <input id="emailSubject" name="emailSubject" class="form-control mb-4">

                    <label for="emailBody">Body:</label>
                    <textarea id="emailBody" name="emailBody" class="form-control mb-4" rows="6" cols="20"></textarea>

                    <input class="btn btn-block" type="submit">

            </form>
        </div>
    </div>
</div>


<footer th:include="partials/foot :: foot"/>

</body>
</html>