<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>

    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div class="">
    <div class="container">

        <div>
            <h1 class="">Send email....</h1>
        </div>


        <div class="container mb-4">

            <form th:action="@{/send-email}" method="post">
                <div class="mb-3">
                    <input id="email" name="email" class="send-email" placeholder="Email" type="text"/>
                </div>

                <div>
                    <input class="btn btn-block" type="submit" value="Send email"/>
                </div>
            </form>

        </div>
    </div>
</div>

<footer th:include="partials/foot :: foot"/>

</body>
</html>