<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<nav th:fragment="can-nav" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand nav-brand" href="/">CURATED INK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav mr-auto d-flex align-items-end">
                <li class="nav-item">
                    <form th:action="@{/gallery}" th:method="get" class="form-inline mr-sm-2">
                        <button class="nav-link btn nav-text">Explore the Gallery</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form th:action="@{/profile-page}" th:method="get" class="form-inline mr-sm-2">
                        <button class="nav-link btn nav-text">View Your Profile</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post" class="form-inline mr-sm-2">
                        <button class="nav-link btn nav-text">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
</nav>

</body>
</html>