<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<nav th:fragment="can-nav" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">CURATED INK</a>
    <img src="" width="" height="auto" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div sec:authorize="isAuthenticated()">
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form th:action="@{/gallery}" th:method="get" class="form-inline mr-sm-2">
                        <button class="nav-link btn">Explore the Gallery</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form th:action="@{/profile-page}" th:method="get" class="form-inline mr-sm-2">
                        <button class="nav-link btn">View Your Profile</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a href="/tattoos/canvas-upload" class="form-inline mr-sm-2">
                        <button class="nav-link btn">Add a new image</button>
                    </a>
                </li>
                <li class="nav-item">
                    <!--                <a class="nav-link" th:href="@{/users/artist-edit/{id}(id=${user.id})}">Edit Profile</a>-->
                    <form th:action="@{/canvas-edit}" th:method="get" class="form-inline mr-sm-2">
                        <button class="nav-link btn">Edit Profile</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post" class="form-inline mr-sm-2">
                        <button class="nav-link btn">Logout</button>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</nav>

</body>
</html>