<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gallery</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<nav th:replace=" partials/nav :: nav"/>


<div>
    <h1>Profile picture container </h1>
</div>
<div>
    <h3>Artist Information</h3>
    <div class="row">
<!--        <button id="follow_me">Follow</button>-->
<!--        <a th:href="@{/canvas-profile/{id}(id=${user.id})}" class="btn btn-block">View My Canvas Profile</a>-->
<!--        <a th:href="@{/request-form}" class="btn btn-block">Request Work</a>-->
    </div>
</div>
<div>
    <div class="container">
        <div class="row md-6 justify-content-around">

            <!--            ****Need to refactor to only show specific artist's work****-->

            <div class="card m-5" style="width: 24rem;" th:each="image : ${images}">
                <div class="card-body">
                    <img th:src="${image.imageUrl}" class="img-thumbnail rounded mx-auto d-block"/>
                    <a class="btn" id="detailed-portfolio"
                       data-toggle="modal"
                       th:attr="data-target=${'#artist-detailed' + image.id}" >
                        View Details
                    </a>
                </div>
                <div class="modal fade" id="artist-detailed" th:attr="id=${'artist-detailed' + image.id}"
                     tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!--                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>-->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card" style="width: 18rem;">
                                    <img th:src="${image.imageUrl}"/>
                                    <div class="card-body">
                                        <h3 th:text="${image.creditedArtist}" class="card-title"/>
                                        <h5 th:text="${image.studioName}" class="card-text"/>
                                        <p th:text="${image.comment}" class="card-text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <!--                                Might need to change this to take out the id portion-->

                                <a th:href="@{/artist-image-edit/{id}(id=${image.id})}"
                                   class="btn">Edit</a>
                                <form th:action="@{/tattoos/delete/{id}(id=${image.id})}" th:method="post">
                                    <button class="btn">Delete Image</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials/foot :: foot"/>

<script>

    $('#detailed-portfolio').on('click', function() {
        $('#artist-detailed').show();
    });

</script>

</body>
</html>