<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gallery</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<nav th:replace=" partials/nav :: nav"/>


<!--Container for cover image and profile image-->
<!--<div class="row cover d-flex justify-content-between align-items-end">-->

<div class="d-flex align-items-center justify-content-center">
    <div class="contain">
        <div class="profile-cover">
            <img src="/../img/mvnw.jpg" alt="Flash Tattoos">
        </div>
        <!--        <div th:each="image : ${images}">-->
        <!--            <img th:if="${image.isProfileImage}"-->
        <!--                 th:src="${image.imageUrl}"-->
        <!--                 alt="Artist Profile Image"-->
        <!--                 class="profile-image"/>-->
        <!--            &lt;!&ndash;            style="width: 9rem;"&ndash;&gt;-->
        <!--        </div>-->
    </div>
</div>


<!--Artist Information-->
<div class="container">
    <div class="row">
        <div class="col-8">
            <p class="sub-text">Artist</p>
            <h1 th:text="${user.username}" class="profile-heading"/>
            <!--            <div class="container">-->
            <!--                <div class="col">-->
            <p class="sub-text">Current Studio</p>
            <p class="profile-text" th:text="${user.studioName}"></p>
            <p class="sub-text">About</p>
            <p class="profile-text" th:text="${user.biography}"></p>
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div th:each="image : ${images}">
                <img th:if="${image.isProfileImage}"
                     th:src="${image.imageUrl}"
                     alt="Artist Profile Image"
                     class="profile-image"/>
                <!--            style="width: 9rem;"-->
            </div>

        </div>

    </div>
    <!--    div for buttons-->
    <div class="row d-flex justify-content-around mt-4">
        <form th:if="${showButton}" th:action="@{/users/follow/{id}(id=${user.getId()})}" method="post">
            <button id="follow_me" type="submit" class="button type1">Follow</button>
        </form>
        <!--        <button id="follow_me">Follow</button>-->
        <!--        <a th:href="@{/canvas-profile/{id}(id=${user.id})}" class="btn btn-block">View My Canvas Profile</a>-->
        <a th:href="@{/send-email/{id}(id=${user.getId()})}" class="button type1">Request Work</a>
    </div>


</div>

<!--Artist's Images-->
<div class="mt-4">
    <div class="container">
        <div class="row md-6 justify-content-around">

            <!--            ****Need to refactor to only show specific artist's work****-->
            <div th:each="image : ${images}">
                <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;" th:if="${!image.isProfileImage}">
                    <div class="card-body">
                        <img th:src="${image.imageUrl}" class="img-thumbnail thumbnail mx-auto d-block"/>
                        <div class="card-footer footer">
                            <a class="button type1" id="detailed-portfolio"
                               data-toggle="modal"
                               th:attr="data-target=${'#artist-detailed' + image.id}">
                                View Details
                            </a>
                        </div>
                    </div>

                    <!--                Modal for Details-->
                    <div class="modal fade" id="artist-detailed" th:attr="id=${'artist-detailed' + image.id}"
                         tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!--                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>-->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card" style="width: 100%;">
                                        <img th:src="${image.imageUrl}"/>
                                        <div class="card-body">
                                            <h3>Artist: <span th:text="${image.creditedArtist}"></span></h3>
                                            <h5>Studio: <span th:text="${image.studioName}"></span></h5>
                                            <p>About the Work: <span th:text="${image.comment}"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials/foot :: foot"/>

<script>

    $('#detailed-portfolio').on('click', function () {
        $('#artist-detailed').show();
    });

</script>

</body>
</html>