<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gallery</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<nav th:replace=" partials/can-nav :: can-nav"/>


<!--Container for cover image and profile image-->
<!--<div class="row cover d-flex justify-content-between align-items-end">-->

<div class="d-flex align-items-center justify-content-center">
    <div class="contain">
        <div class="profile-cover">
            <img src="/../img/mvnw.jpg" alt="Flash Tattoos">
        </div>
        <!--        <div th:each="image : ${images}">-->
        <!--            <img th:if="${image.isProfileImage}"-->
        <!--                 th:src="${image.imageUrl}"-->
        <!--                 alt="Canvas Profile Image"-->
        <!--                 class="profile-image"/>-->
        <!--            &lt;!&ndash;            style="width: 9rem;"&ndash;&gt;-->
        <!--        </div>-->
    </div>
</div>


<!--Canvas Information-->
<div class="container">
    <div class="row">
        <div class="col-8">
            <p class="sub-text">Canvas</p>
            <h1 th:text="${user.username}" class="profile-heading"/>
            <p class="sub-text">About</p>
            <p class="profile-text" th:text="${user.biography}"></p>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="profile-div mt-2">
                <div th:each="image : ${images}">
                    <img th:if="${image.isProfileImage}"
                         th:src="${image.imageUrl}"
                         alt="Artist Profile Image"
                         class="img-profile"/>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-around button-m">
        <a th:href="@{/tattoos/canvas-upload}" class="button type1">Add a new image</a>
        <a class="button type1" id="portfolioImage"
           data-toggle="modal"
           th:attr="data-target=${'#canvasProfileImage'}">
            Add a Profile Image
        </a>
        <form th:action="@{/canvas-edit}" th:method="get" class="form-inline mr-sm-2">
            <button class="button type1">Edit Profile</button>
        </form>
    </div>

</div>


<!--Canvas' Images-->
<div class="m-4">
    <div class="container">
        <div class="row md-6 justify-content-around">

            <!--            ****Need to refactor to only show specific canvas' tats****-->
            <div th:each="image : ${images}">
                <div class="shadow-lg p-3 mb-5 bg-white rounded card-m" style="width: 18rem;"
                     th:if="${!image.isProfileImage}">
                    <div class="card-body">
                        <img th:src="${image.imageUrl}" class="img-thumbnail thumbnail mx-auto d-block"/>
                        <div class="card-footer footer">
                            <a class="button type1" id="detailed-work"
                               data-toggle="modal"
                               th:attr="data-target=${'#canvas-detailed' + image.id}">
                                View Details
                            </a>
                        </div>
                    </div>

                    <!--                Modal for Details-->
                    <div class="modal fade" id="canvas-detailed" th:attr="id=${'canvas-detailed' + image.id}"
                         tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!--                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>-->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card" style="width: 100%;">
                                        <img th:src="${image.imageUrl}"/>
                                        <div class="card-body">
                                            <h3>Artist: <span th:text="${image.creditedArtist}"></span></h3>
                                            <h5>Studio: <span th:text="${image.studioName}"></span></h5>
                                            <p>About the Work: <span th:text="${image.comment}"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!--                                Might need to change this to take out the id portion-->
                                    <a th:href="@{/canvas-image-edit/{id}(id=${image.id})}"
                                       class="button type1">Edit</a>
                                    <form th:action="@{/tattoos/delete/{id}(id=${image.id})}" th:method="post">
                                        <button class="button type1">Delete Image</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                Modal for Profile Image-->
                <div class="modal fade" id="canvasProfileImage" th:object="${image}"

                     tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Profile Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/profile-image}" th:method="post">
                                    <label for="uploadImage"></label>
                                    <button class="form-control mb-4" id="uploadImage" name="uploadImage" type="button">
                                        Upload Image
                                    </button>
                                    <input id="filestackImageUrl" name="filestackImageUrl" value="replace"
                                           th:field="*{imageUrl}" type="hidden">

                                    <button class="button type1">Add Profile Image</button>
                                </form>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<footer th:replace="partials/foot :: foot"/>


<script type="text/javascript" src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    const options = {
        onUploadDone:
            function (result) {
                $("#filestackImageUrl").val(result.filesUploaded[0].url);
            }
    }
    let filestackApiKey = [[${filestackApiKey}]]
    const client = filestack.init(filestackApiKey);
    $("#uploadImage").click(function () {
        client.picker(options).open()
    });
</script>


<script>

    $('#detailed-work').on('click', function () {
        $('#canvas-detailed').show();
    });

    $('#canvasProfileImage').on('click', function () {
        $('#canvasProfileImage').show();
    });
</script>


</body>
</html>