<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace=" partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<nav th:replace=" partials/can-nav :: can-nav"/>


<div class="bg-about">

    <div>
        <h1 class="gallery-heading">Update your profile</h1>
    </div>

    <div class="container mb-4">

        <form th:action="@{'/users/canvas-edit/'}" class="form-padding" th:method="post" th:object="${user}">

            <label for="email">Email</label>
            <input id="email" th:field="*{email}" class="background-form" placeholder="Email"/>

<!--            <label for="password">Password</label>-->
<!--            <input id="password" type="password" th:field="*{password}" class="form-control mb-4"-->
<!--                   placeholder="Password"/>-->

            <label for="display_name">Display Name</label>
            <input id="display_name" th:field="*{displayName}" class="background-form" placeholder="Display Name"/>

<!--            <label for="zipcode">Zip Code</label>-->
<!--            <input id="zipcode" th:field="*{zipcode}" class="form-control mb-4" placeholder="Zip Code"/>-->

            <label for="biography">Bio</label>
            <input id="biography" th:field="*{biography}" class="background-form"
                   placeholder="What do you want the world to know?"/>

            <div class="d-flex justify-content-around mt-4">
                <button class="button type1" type="submit">Update Profile</button>
            </div>
        </form>

<!--        <form th:action="@{/users/delete}" th:method="post">-->
<!--        <button class="button type1" type="submit">Delete Profile</button>-->
<!--        </form>-->

    </div>
</div>


<footer th:replace="partials/foot :: foot"/>
</body>
</html>