<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>

        <title th:text="'Ooops, ' + ${error}"></title>

    </head>
    <body>
    <th:block th:switch="${error}">
        <div th:case="'Internal Server Error'">
            <h2>Internal Server Error</h2>
            <h4>The server encountered an internal error or misconfiguration and was unable to complete your request.

                Please contact the server administrators to inform them of the time this error occurred, and the
                actions you performed just before this error.
            </h4>
        </div>
        <div th:case="'Server Error'">
            <h2>The server encounter internal errors.</h2>
        </div>
    </th:block>


    </body>
</html>