<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>

        <title th:text="'Ooops, ' + ${error}"></title>

    </head>
    <body>
    <th:block th:switch="${error}">
        <div th:case="'Internal Server Error'">
            <div class="img-container">
                <h1>Internal Server Error</h1>

                <img src="images/500.png" alt="Error 500 Picture"
                     width="60%" height="40%">
            </div>
        </div>
        <div th:case="'Server Error'">
            <h2>The server encounter internal errors.</h2>
        </div>
    </th:block>


    </body>
</html>