<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="'Ooops, ' + ${error}"></title>

        <head th:replace=" partials/head :: head"/>
        <link rel="stylesheet" th:href="@{/style.css}">

    </head>
    <body>
        <th:block th:switch="${error}">
            <div th:case="'Not Found'">
                <h2>Page Not Found!!</h2>
            </div>
            <div th:case="'Forbidden'">
                <h2>You do not have permission to view this page.</h2>
            </div>
        </th:block>
        <p>Watch a video instead</p>
        <iframe
                width="420"
                height="315"
                src="https://www.youtube.com/embed/NN75im_us4k?autoplay=1"
                frameborder="0"
                allowfullscreen="allowfullscreen"
        >
        </iframe>
        <footer th:include="partials/foot :: foot"/>
    </body>
</html>